@import url('https://fonts.googleapis.com/css?family=Exo');

.image {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  height: 350px;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
  width: 350px;
}

figure img {
  border-radius: 5px;
  height: 100%;
  transition: all .23s ease;
  width: 100%;
}

.image figcaption {
  color: #555;
  font-family: 'Exo';
  height: 100%;
  left: 0;
  line-height: 300px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transition: all .23s ease;
  width: 100%;
}

.image.fade figcaption {
  opacity: 0;
  visibility: hidden;
}

.image.push figcaption {
  top: 0;
  transform: translateY(350px);
}

.image.push:hover > img {
  transform: translateY(-350px);
}

.image.push:hover > figcaption {
  transform: translateY(0px);
}

.image.fade:hover > img {
  opacity: 0;
  visibility: hidden;
}

.image.fade:hover > figcaption {
  opacity: 1;
  visibility: visible;
}
